body {
	font-family: "Times New Roman", Times, serif;
	background-color: white;
}
h1 {
	text-align: center;
}
label {
	margin-right: 10px;
}
input {
	margin-bottom: 20px;
	width: 50%;
	border: 1px solid lightgray;
}

li {
	background-color: pink;
	margin-top: 30px;
	padding-top: 20px;
	padding: 5px 15px;
	width: 80%;
	font-size: 18px;
	color: white;
}

#wrapper {
	position: absolute;
	margin-top: 30px;
	width: 500px;
	height: 500px;
	border: 2px solid pink;
	padding: 10px;
}
button {
	background-color: pink;
	color: white;
	margin-left: 33%;
	padding: 15px 32px;
	font-size: 20px;
	border-radius: 5px;
	border: 1px solid pink;
}

button:hover {
	border: 1px pink solid;
	background-color: white;
	color: pink;
}
textarea {
	width: 90%;
	margin: 20px;
}
a {
	position: fixed;
	top: 5px;
	right: 100px;
	color: pink;
}
a:visited,
a:hover {
	color: pink;
}

#questionsDiv {
	margin: 20px;
}

#timeStatus {
	float: right;
}

#goBack {
	background-color: pink;
	position: relative;
	padding: 10px;
	font-size: 20px;
	color: white;
	top: 30%;
	left: 55%;
	width: auto;
	text-align: center;
	text-decoration: none;
}

#clear {
	background-color: pink;
	position: relative;
	padding: 10px;
	font-size: 20px;
	color: white;
	top: 30%;
	right: 5%;
	text-align: center;
}

#Submit {
	background-color: pink;
	margin-left: 33%;
	padding: 15px 32px;
	font-size: 20px;
	color: white;
}
#createDiv {
	margin-top: 20px;
	border-top: 1px solid lightgray;
}

#wrapper {
	position: absolute;
	left: 20%;
}

#goBack {
	position: relative;
	top: 45px;
}

#clear {
	position: relative;
	right: 5%;
}
